*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 14px;
}

header {
    background-color: #d74931;
    height: 80px;
}

aside {
    background-color: #ddd;
    height: 80px;
    float: left;
    width: 235px;
}

main {
    background-color: #eee;
    height: 200px;
    margin-left: 315px;    /* 235x (ширина сайдбара) + 80px */
}

footer {
    background-color: #1a1b23;
    height: 80px;
    color:#e7e7e7;
}
   
@media screen and (max-width: 1000px) {
 .container {
        width: auto;
    }

}

@media screen and (max-width: 576px) {

    aside {
        width: auto;
        float: none;
    }

    main {
        margin: 0;
    }
    .container {
        padding: 0;
    }
}